
<h1>welcome to day 3 </h1>
<input type="text" #name1 placeholder="enter name" (input)="getValue(name1.value)">
<br>
<p>wecome {{displayName}}</p>
<br><br>
<h1 style="color: darkmagenta;">============================================================================================</h1>

<h1>section 3 </h1>
<input type="text" #name2 placeholder="enter name" >
<button (click)="getValue1(name2.value)">show</button>
<br>
<p>wecome {{displayName1}}</p>
<h1 style="color: darkmagenta;">============================================================================================</h1>

<h1>counter </h1>
<button (click)="counter('minus')">-</button>
<p>{{countV}}</p>
<button (click)="counter('plus')">-</button>
<br><br>
<h1 style="color: darkmagenta;">============================================================================================</h1>

<h2>Property Bininding</h2>
<input type="text" value="{{nameofuser}}" disabled="{{isDisabled1}}">
<input type="text"[value]="nameofuser2" [disabled]="isDisabled2">

<h1 style="color: darkmagenta;">============================================================================================</h1>

<h1>if | else | if-else if ladder |</h1>
<button (click)="changeShow()"> Toggle</button>
<h1 *ngIf="show=='yes'; then ifBlock else elseBlock"></h1>

<ng-template #ifBlock>
  <h1>good morning everyone</h1>
  </ng-template>

  <ng-template #elseBlock>
    <h1>good AfterNoon</h1>
    </ng-template>

    <h1 style="color: darkmagenta;">============================================================================================</h1>

<h1>If-Else Ladder</h1>
<ng-template [ngIf]="color=='red'">
  <h1 style="color: red;">Red Text</h1>
  </ng-template>
<ng-template [ngIf]="color=='blue'">
  <h1 style="color: blue;">Red Text</h1>
  </ng-template>
<ng-template [ngIf]="color=='green'">
  <h1 style="color: green;">Red Text</h1>
  </ng-template>

<br><br>
<h1 style="color: darkmagenta;">============================================================================================</h1>

<h1>Switch Case</h1>
<div [ngSwitch]="switchColor">
  <h1 style="color: red;" *ngSwitchCase="'red'">Red Text</h1>
  <h1 style="color: blue;" *ngSwitchCase="'blue'">Blue Text</h1>
  <h1 style="color: green;" *ngSwitchCase="'green'">Green Text</h1>
</div>
<br><br>
<h1 style="color: darkmagenta;">============================================================================================</h1>

<h1> Loop demo</h1>
<h2 *ngFor="let user of users">{{ user }} </h2>

<h1> Array Loop demo</h1>
<h2 *ngFor="let item  of userDetails">{{ item.name }} : {{item.email}}</h2>

<h1 style="color: darkmagenta;">============================================================================================</h1>


<ul *ngFor="let item  of userDetails1">

<li> {{item.name}}</li><li>{{item.email}}</li>
<ul *ngFor="let account  of item.social">
  <li>{{account}}</li>
</ul>
</ul>